body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d0e7ff; /* Initial light blue */
    animation: backgroundFade 31s infinite; /* Apply the animation */
}

#app {
    text-align: center;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.drop-zone:hover {
    background-color: #e9e9e9;
    border-color: #aaa;
}

.drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.peer-id-container {
    border: 2px dashed #ccc;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4edda;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.peer-id-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.error-container {
    border: 2px dashed #890000;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efa7a7;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.error-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#errorHeadline {
    font-size: 16px;
    font-weight: bold;
}

.hidden {
    display: none;
}

#fileList a {
    display: block;
    margin-top: 10px;
}

#peerIdUrl {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
    text-align: center;
}

.progress-bar-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-wrapper p {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.progress-info {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 5px;
}

/* Animation for pulsing background */
@keyframes backgroundFade {
    0% {
        background-color: #d0e7ff; /* Light blue */
    }
    33% {
        background-color: #b3d4ff; /* Slightly darker blue */
    }
    66% {
        background-color: #a0c8ff; /* Even darker blue */
    }
    100% {
        background-color: #d0e7ff; /* Back to light blue */
    }
}
